body{
    font-family: "Poppins", sans-serif;
}
main{
    margin: 100px auto;
}
.feature__cards{
    text-align: center;
}
.feature__cards span{
    color:#697077;
    font-size:1.9rem;
    font-weight: 200;
}
.feature__cards h1{
    color:#4c4e61;  
    margin-top: 0px;
}
.feature__cards p{
    color: #697077;
    width: 34rem;
    margin: auto;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 60px;
}
.card{
    width: 280px;
    height: max-content;
    padding:30px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #f7f4f4;
    border-radius: 6px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__supervisor h3,
.card__team-builder h3,
.card__karma h3,
.card__calculator h3{
    color:#4c4e61;
    margin: 0;
}
.card__supervisor{
    border-top: 4px solid  #45d3d3;
}
.card__team-builder{
    border-top: 4px solid #ea5353;
    margin-bottom: 35px;
}
.card__karma{
    border-top: 4px solid #fcaf4a;
}
.card__calculator{
    border-top: 4px solid #549ef2;
}
.card__supervisor img,
.card__team-builder img,
.card__karma img,
.card__calculator img{
   align-self: flex-end;
   width: 4rem;
   margin-bottom: 20px;
}
.card p{
    color:#697077;
    font-size: small;
    margin-top: 0.3rem;
}
@media screen and (max-width:375px){
    main{
        padding:0px 10px;
    }
    .feature__cards span{
        display: block;
        width: max-content;
        font-size: 1.7rem;
    }
    .feature__cards h1{
        width: max-content;
        font-size: 1.7rem;
    }
    .feature__cards p{
        width: auto;
    }
    .cards{
        flex-direction: column;
    }
}
