body {
  background-color: #f2ebe3;
}
.product__preview__card {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product__preview__card__img {
  width: 320px;
}
.product__preview__card__img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-height: 400px;
}
.product__preview__card__details {
  background-color: #ffffff;
  width: 260px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px 20px 0px 40px;
}
.product__preview__card__details span {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #6c7289;
  font-weight: 500;
  font-size: small;
}
.product__preview__card__details h1 {
  font-family: "Fraunces", serif;
  width: 14rem;
  line-height: 1;
}
.product__preview__card__details p {
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  font-size: 0.9rem;
  line-height: 1.5;
  width: 15rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.product__price {
  display: flex;
  gap: 20px;
  align-items: center;
}
.product__price span strong {
  font-family: "Fraunces", serif;
  letter-spacing: normal;
  color: #3c8067;
  font-weight: 700;
  font-size: xx-large;
}
.product__price span:last-child {
  letter-spacing: normal;
  text-decoration: line-through;
}
.add__to__cart__button {
  background-color: #3c8067;
  display: block;
  padding: 15px 60px;
  border-radius: 10px;
  border: none;
  margin: 30px 0;
  display: flex;
  gap: 10px;
}
.add__to__cart__button .add__cart {
  color: #ffffff;
  letter-spacing: normal;
  font-weight: 700;
  text-transform: none;
}

@media screen and (max-width:375px){
  .product__preview__card {
    flex-direction: column;
    position: static;
    transform: none;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
  }
  .product__preview__card__img {
    width:100%;
    margin-bottom: 0;
  }
  .product__preview__card__img img {
    content: url('./images/image-product-mobile.jpg');
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
    
  }
  .product__preview__card__details{
    width: 100%;
    padding: 20px 15px;
    border-radius: 0 0 10px 10px;
  }
  .product__preview__card__details h1{
    width: 100%;
  }
  .product__preview__card__details p{
    width: 19rem;
    margin-bottom: 15px;
  }
  .add__to__cart__button{
    margin:15px 0 0;
    padding: 15px 90px;
  }
  .add__to__cart__button .add__cart{
    text-transform:none;
  }
}
